@import '../variables';

.compare {
	h2 {
		margin: 0 0 0.2rem 0;
		font-size: 1.2rem;
	}

	.compare-list {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	button {
		-webkit-appearance: none;
		background: none;
		display: block;
		padding: 0.2rem 0;
		font-family: var(--font);
		color: var(--fg);
		font-size: 1rem;
		border: none;
	}

	.category + .category {
		margin-top: 0.5rem;
	}

	.player-row {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: min-content 1fr min-content;
		grid-gap: 0.25rem;
		grid-template-areas: 'check label remove';
		align-items: center;

		label {
			grid-area: label;
		}

		.checkbox {
			fill: var(--fg);
			grid-area: check;
			width: 24px;

			.alt {
				fill: var(--button-bg);
			}
		}

		.remove {
			fill: var(--fg);
			width: 24px;
			grid-area: remove;
		}

		input[type='checkbox'] {
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
			border: 0;
		}
	}
}
