@import '../variables';

:root {
	--button-size: 1.5rem;
}

.button {
	-webkit-appearance: button;
	background-color: var(--button-bg);
	border: none;
	border-radius: 50%;
	width: var(--button-size);
	height: var(--button-size);
	margin: 0;
	padding: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: $padding;

	&:focus {
		outline: none;
		box-shadow: 0 0 0.5rem var(--button-fg);
	}

	span {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}
}
