@import '../variables';

.attribution {
	position: absolute;
	right: $padding;
	bottom: $padding;
	display: flex;
	flex-flow: column nowrap;

	span {
		color: var(--fg);
	}

	a,
	a:visited {
		font-size: 1.25em;
		color: var(--link);
		text-decoration-color: var(--link-underline);
	}
}
